<!DOCTYPE HTML>
<html>
<head>
    <title>디지털 리빙랩 프론티어 1기</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>

        html { margin:20px; }

    </style>
    
</head>
<body>